* {
  font-family: Arial, Helvetica, sans-serif;
  white-space: normal;
}

body {
  overflow-x: hidden;
}

#Photos {
  position: relative;
  height: 300px;
}

#Restaurant {
  position: relative;
  width: 950px;
  padding-bottom: 20px;
  border-bottom: .5px solid lightgray;
  left: 12.2%;
}

#Dishes {
  position: relative;
  left: 8%;
}

#Reviews {
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  width: 950px;
  margin-top: 250px;
  left: 12%;
}

#modal-root {
  position: relative;
  z-index: 999;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.display-block {
  display: block;
  background-color:rgb(51, 51 , 51, 0.7);
  padding-bottom: 50px;;
}
.display-none {
  display: none;
}